footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1800px;
  height: 15vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  background-color: #232323;
}

.footer-first {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

.footer_logo {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  font-family: Josefin Sans, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  left: 13px;
  top: 0;
  width: 186px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  justify-self: baseline;
}

.footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 29px;
}

.footer__li {
  text-decoration: none;
}