footer {
    display: flex;
    left: 13px;
    top: 3986px;
    width: 1773px;
    height: 271px;
    align-items: flex-start;
    overflow: hidden;
    background-color: #232323;
  }
  
  .footer-first {
    margin-top: 20px;
  }
  
  .footer__list {
    width: 100%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 29px;
  }
  
  .footer__li {
    text-decoration: none;
  }