header {
    background-image: url("../images/Image 1.png");
    max-width: 1800px;
    height: 820px;
    margin: auto;
    display: flex;
    border-color: transparent;
    background-size: cover; 
    object-fit: contain;
    flex-direction: column;

    h1 {
        color: #fff;
        font-size: 48px;
        line-height: 26px;
        font-weight: bold;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 200px;
    }
    
    h3 {
        color: #fff;
        font-size: 22px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        letter-spacing: 6.82px;
        margin-top: 50px;
        height: min-content;
        text-align: center;
        align-items: center;
    }

    &__title {
        justify-content: center;
    }
    &__info {
        color: #fff;
        font-size: 22px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        letter-spacing: 6.82px;
        text-align: center; 
        justify-self: center;
    }
    &__input{
        width: 653px;
        height: 63px;
        justify-self: center;
        overflow: hidden;
    }
    &__button{
        border: none;
        background-color: #5474FD;
        color:#fff;
        max-width: 228px;
        max-height: 63px;
        align-items: flex-start;
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

    }
}

button a:hover {
    cursor: pointer;

}

input {
    width: 503px;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
button {
    border: none;
    background-color: #5474FD;
    color:#fff;
    width: 153px;
    height: 63px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

p {
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */
text-align: center;
letter-spacing: 2.8px;

color: #FFFFFF;

}
i {
    display: flex;
    justify-content: center;
    color: #fff;
}
.scroll {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}