@import "nav";
@import "footer";
@import "header";

body {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "head head"
      "nav  nav"
      "main main"
      "foot foot";
      grid-template-rows: repeat(16, 1fr);
      grid-template-columns: repeat(12, 1fr);
      gap: 25px;
	margin: 0;
	min-height: 100vh;
	background: #fff;
}
#page > header {
    grid-area: head;
  }
  
  #page > nav {
    grid-area: nav;
  }
  
  #page > main {
    grid-area: main;
  }
  
  #page > footer {
    grid-area: foot;
  }

button a:hover {
    cursor: pointer;
}
.choose {
    display: flex;
    width: 100%;
    height: 685px;
    overflow: hidden;
    background-image: url(../images/Rectangle\ 41444.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    h2 {
        color: #fff;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        align-content: center;
    }
    p {
        height: min-content;
        flex-direction: column;
        color: #e8e8e8;
        font-size: 16px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        letter-spacing: 1.6px;
    }

    img {
        width: 350px;
        height: 220px;
        justify-self: center;
    }

    
    .choose_button{
        margin-right: 25px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 4px;
        color: white;
        border: none;
        background: linear-gradient(45deg, rgba(84, 116, 253, 1) rgba(73, 107, 254, 1));
        width: 228px;
        height: 63px;
        align-items: center;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
        letter-spacing: 1.2px;
        text-transform: uppercase;
        justify-content: center;


    }

}

.choose_images {
    display: flex;
    justify-content: flex-end;
}
.choose_explore{
    display: flex;
    height: 685px;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.workflows {
    display: flex;
    box-sizing: border-box;
    background-color: #333333;
    width: 100%;
    height: 340px;
    align-items: flex-start;
    overflow: hidden;
    
    p {
        color: #e8e8e8;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .search{ 
        width: 353px;
        height: 163px;
        align-items: flex-start;
        overflow: hidden;
    }

    .select{
        width: 200px;
        height: 161px;
        align-items: flex-start;
        overflow: hidden;
    }
    .enjoy {
        width: 215px;
        height: 174px;
        align-items: flex-start;
        overflow: hidden;
    }


}

.spain {
    width: 1800px;
    height: 1400px;
    left: 15px;
    top: 1857px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    h4{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height, or 130% */

        display: flex;
        align-items: center;
        letter-spacing: 1.5px;

        color: #E8E8E8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        display: flex;
        align-items: center;
        justify-content: center;

        color: #E8E8E8;
    }

    .spain_text{
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height, or 130% */

        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.container_spain{
    width: 543px;
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spainbtn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.spain_1 {
    background-image: url(../images/Rectangle\ 414\ 45.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container_spain2{
    width: 543px;
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}

.spain_2 {
    background-image: url(../images/Rectangle\ 41445.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.tourist{
    background-image: url("../images/Rectangle\ 4142\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1800px;
    height: 50vh;

    h2 {
        color: #fff;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        text-align: center;
        align-items: center;
    }

    .tourist_title {
        align-items: center;
    }

    p {
        color: #fefefe;
        height: 100%;
        font-family: sans-serif;
        flex-basis: 100%;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
    }

    .tourist_name{
        font-size: 20px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        text-transform: uppercase;
        left: 62px;
        top: 49px;
        width: 150px;
        height: min-content;
        flex-direction: column;
    }
}

.sam_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container_sam {
    margin-top: 91px;
    margin-left: 331px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1110px;
    height: 287px;
}


@media screen and (max-width: 450px) {
    
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: calc(0vw + 14.00px);
    }
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: calc(0vw + 14.00px)

    }
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .grid {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        }
}
@media screen and (min-width: 576px) {
    .grid {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 10px;
      }
    }