@import "nav";
@import "footer";
@import "header";

body {
    box-sizing: border-box;
	display: grid;
	place-content: center;
	margin: 0;
	min-height: 100vh;
	background: #555;
}



.choose {
    width: 1770px;
    height: 685px;
    background-image: url(../images/Rectangle\ 41444.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    overflow: hidden;

    h2 {
        color: #fff;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        flex-direction: column;
    }
    p {
        height: min-content;
        flex-direction: column;
        color: #e8e8e8;
        font-size: 16px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        letter-spacing: 1.6px;
    }
    .choose_button{
        width: 228px;
        height: 63px;
        align-items: flex-start;
        overflow: hidden;
        appearance: auto;

    }

}

.workflows {
    display: flex;
    box-sizing: border-box;
    background-color: #333333;
    flex-direction: column;
    
    p {
        color: #e8e8e8;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    
    .icon11 {
        
    }

    .search{ 
        align-items: flex-start;
        overflow: hidden;
    }

    .select{
        align-items: flex-start;
        overflow: hidden;
    }
    .enjoy {
        align-items: flex-start;
        overflow: hidden;
    }


}

.spain {
    width: 1770px;
    height: 1400px;
    left: 15px;
    top: 1857px;


}

.spain_1 {
    background-image: url(../images/Rectangle\ 414\ 45.png);
    height: 700px;
}

.spain_2 {
    background-image: url(../images/Rectangle\ 41445.png);
    height: 700px;
}

.tourist{
    background-image: url("../images/Rectangle\ 4142\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    h2 {
        color: #fff;
        font-size: 36px;
        line-height: 26px;
        font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        height: min-content;
        text-align: center;
        align-items: center;
    }

    .sam{
        width: 668px;
        height: 287px;
        overflow: visible;
        background-color: #333333;
    }
    .sam_photo{
        width: 445px;
        height: 284px;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #fefefe;
        height: 100%;
        font-family: sans-serif;
        flex-basis: 100%;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
    }

    .tourist_name{
        font-size: 20px;
        line-height: 26px;
        font-family: Josefin Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        text-transform: uppercase;
        left: 62px;
        top: 49px;
        width: 150px;
        height: min-content;
        flex-direction: column;
    }
}